body {
    direction: rtl;
    text-align: right;
}

h3 {
    text-align:center;
}

#headerH1 {
    font-size: 18px;
    /*font-family: Tahoma, Arial, sans-serif;
    text-align: center;*/
}

.divCard {
    width: 30%;
    /*margin-left: 20px;*/
    margin-bottom: 40px;
    padding-left: 0px;
    padding-right: 0px;
    box-shadow: none;
}
.personalDe {
    color: #373434;
    font-size: 15px;
    font-weight: bold;
    margin-left: 85%;
}

.sizeV {

    width: 100%;
    direction: rtl;
}

.w3-container {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-top: 2%;
    /*margin-right: 3%;*/
}

.img {
    width: 300px;
    height: 300px
}

.logoF {
    /*margin-top: 2%;*/
    /*margin-left:87%;*/
    width: 110px;
    height: 80px;
    direction: rtl;
    margin-right: 20px;
    margin-left: 20px;
}

hr {
    margin-bottom: 2rem;
    margin-top: 1rem;
    border-top: 2px solid rgba(0,0,0,.1);
}


.icon-bar {
    /*width: 100%;*/
    /*background-color: #555;*/
    overflow: auto;
    direction: rtl;
    text-align: right;
    padding-right: 20px;
    margin-top: 2%;
    font-family: Tahoma, Arial, sans-serif;
}

    .icon-bar a {
/*        float: right;
*/        width: 17%;
        padding: 10px 0;
        transition: all 0.3s ease;
        color: black;
        font-size: 15px;
        margin-left: 2%;/*ליאור הוסיפה*/
    }

        .icon-bar a:hover {
            color: #000;
        }


.w3-light-grey, .w3-hover-light-grey:hover, .w3-light-gray, .w3-hover-light-gray:hover {
    margin-top: 0px;

}

.w3-button:hover {
    background-color: #C55545 !important;
    color: white !important;
}

.w3-dark-grey, .w3-hover-dark-grey:hover, .w3-dark-gray, .w3-hover-dark-gray:hover {
    font-family: Tahoma;
    background-color: #212529!important;
}

#active {
    color: #e21e25;
}

#logOut {

    /*margin-right: 60%;*/
    float:left;
    padding: 10px 50px;

}

.w3-light-grey, .w3-hover-light-grey:hover, .w3-light-gray, .w3-hover-light-gray:hover {
    margin-right: 0;
}

.firstLast {

    margin-right: 4%;
}

#ph {
    margin-right: 1.5%;
}

.activeRank {
    margin-bottom: 11px;
    background-color: white;
    font-size: 12px;
    font-weight: bold;
}
/* mouse over link */
.activeRank:hover {
    color: #d9534f;
}

/* selected link */
.activeRank:active {
    color: red;
}

.activeRank:disabled:hover {
    color: lightgray;
}

selected {
    border: 5px solid #555;
}

.swal2-title {

    font-size:25px;
}


.ui-timepicker-standard {
    z-index: 9999 !important;
}


.row {
    margin-right: -5px;
    margin-left: -17px;
}


#headerH1 {
    font-size: 18px;
    /*font-family: Tahoma, Arial, sans-serif;
    text-align: center;*/
}

.selectedEmoji {
    border: 5px solid #a00e0e;
    border-radius: 50%;
}

.selectedLike {
    border: 5px solid #a00e0e;
}




#widthCard {
    width: 100%;
    /*padding-left: 20px;
    margin: 20px;*/
}

.img {

    width: 100px;
    height: 100px;

}

.divCard .pa {
    width: 90%;
    margin: 0 auto;
    box-shadow: 0 4px 10px 0 rgb(0 0 0 / 20%), 0 4px 20px 0 rgb(0 0 0 / 19%);
}



.fc .fc-toolbar > * > :first-child {
    font-family: Tahoma !important;
}

.fc td, .fc th {
    color: black !important;
    background-image: url('../Images/123321123.jpg') !important;
    background-size: 100% !important;
}

button {
    margin-top: 7px !important;
}

.fc-toolbar.fc-header-toolbar {
    color: #e21e25 !important;
    font-family: Tahoma !important;
}


.btn-primary {
    background-color: #dc3545 !important;
    border-color: #dc3545 !important;
}

.btn-primary1 {
    color: white;
    background-color: #227207 !important;
    border-color: #227207 !important;
}

.btn-primary1 {
    color: white;
    background-color: #227207 !important;
    border-color: #227207 !important;
}

    .btn-primary1:hover{

        color: black;
    }

    .btn-primary:hover {
        color: black;
    }
    .modal-title {
        font-family: Tahoma !important;
    }

.list-group-item.active {
    background-color: #332c2c;
    border-color: #332c2c;
    font-family: tahoma;
}

.list-group-item {
    font-family: tahoma;
}